DJANGO_SECRET_KEY=change-this-secret-key
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=construmanage_db
POSTGRES_USER=construmanage_user
POSTGRES_PASSWORD=change-this-db-password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

SEED_ADMIN_USERNAME=admin
SEED_ADMIN_EMAIL=admin@construmanage.pt
SEED_ADMIN_PASSWORD=change-this-admin-password
SEED_USER_USERNAME=davide
SEED_USER_EMAIL=davide@construmanage.pt
SEED_USER_PASSWORD=change-this-user-password
SEED_USER_FIRST_NAME=Davide
SEED_USER_LAST_NAME=Moreno

JWT_ACCESS_TOKEN_LIFETIME_HOURS=1
JWT_REFRESH_TOKEN_LIFETIME_DAYS=7

CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173,http://localhost:80
